.sign-up-form{
    opacity: 0.5;
    background-color: white;
    width: 500px;
    justify-content: center;
    text-align: center;

    .label{
        margin: 0 40px;
    }
    
    input{
        
    }
}